
<html lang="en"xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Display</title>
</head>
<body>
<h1>Current Time</h1>
<p>Current time in the selected timezone: <span th:text="${currentTime}"></span></p>
<p>Last selected timezone: <span th:text="${lastTimezone}"></span></p>
<form action="/time" method="get">
    <label for="timezone">Timezone:</label>
    <input type="text" id="timezone" name="timezone">
    <button type="submit">Get Time</button>
</form>
</body>
</html>